.table {
  display: table-cell;
  border-collapse: separate;
  border-spacing: 15px;
}

.row {
  display:table-row;
}

.button {
  display: table-cell;
  border: 1px solid black;
  border-top-left-radius: 15px;
  width: 250px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.30), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
  background-color: #006666;
  font-weight: bold
}

body {
  background-color: #e6f7ff;
}

.button:hover {background-color: #0099ff}
.button:active {
  background-color: #0099ff;
  box-shadow: 3px 3px #666;
  transform: translateX(2px);
}
